openapi: 3.2.0
info:
  title: Lendkey Authentication API
  contact:
    name: LendKey Platform Team
    url: https://lendkey.com
  version: '1.0'
  description: 'Operations tagged Authentication across 2 of this provider''s published API definitions: lendkey-esign-openapi.yml, lendkey-treasury-management-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.lendkey.com/esign
  description: Production Environment
- url: https://api.lendkey.com/TreasuryMgmt
  description: Production Environment
security:
- oauth2: []
tags:
- name: Authentication
  description: OAuth2 authentication endpoints
paths:
  /oauth2/token:
    post:
      summary: Get OAuth2 Access Token
      description: 'Obtain an OAuth2 access token for authenticating API requests.

        This endpoint is provided by Kong Gateway.


        **Token expires after 2 hours** - you''ll need to request a new token when it expires.

        '
      tags:
      - Authentication
      operationId: getOAuth2Token
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - grant_type
              - client_id
              - client_secret
              properties:
                grant_type:
                  type: string
                  enum:
                  - client_credentials
                  description: OAuth2 grant type (always "client_credentials")
                client_id:
                  type: string
                  description: Your client ID from Kong Developer Portal
                  example: abc123def456
                client_secret:
                  type: string
                  format: password
                  description: Your client secret from Kong Developer Portal
                  example: xyz789secret123
      responses:
        '200':
          description: Access token successfully generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: JWT access token to use in Authorization header
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  token_type:
                    type: string
                    enum:
                    - bearer
                    description: Token type (always "bearer")
                  expires_in:
                    type: integer
                    description: Token lifetime in seconds (7200 = 2 hours)
                    example: 7200
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://api.lendkey.com/esign
      description: Production Environment
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: Invalid request
        message:
          type: string
          example: Application UUID is required
    ErrorResponse_2:
      type: object
      properties:
        isSuccess:
          type: boolean
          description: Success indicator (always false for errors)
          example: false
        statusCode:
          type: integer
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Error message
          example: Invalid request
        errors:
          type: array
          description: Detailed error messages
          items:
            type: string
          example:
          - Field 'loanUUID' is required
          - Field 'amount' must be greater than 0
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 client credentials flow via Kong Gateway
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes: {}
x-refined-from:
- lendkey-esign-openapi.yml
- lendkey-treasury-management-openapi.yml
