openapi: 3.2.0
info:
  title: Treasury Management API (via Kong Gateway) Loans API
  version: v1
  description: '# Treasury Management API - Kong Gateway Documentation


    ## Overview


    The Treasury Management API provides endpoints for managing loan inventory, disbursements, payments, and treasury operations.'
  contact:
    name: LendKey Platform Team
    url: https://lendkey.com
servers:
- url: https://api.lendkey.com/TreasuryMgmt
  description: Production Environment
security:
- oauth2: []
tags:
- name: Loans
  description: Loan creation and management
paths:
  /v1/createLoan:
    post:
      summary: Create Loan
      description: 'Creates loan inventory and treasury management entries.


        This endpoint creates complete loan records including:

        - Loan details (principal, term, product)

        - Associated persons and parties

        - Initial disbursements


        **Kong Route:** `/v1/createLoan`

        **Backend:** `/TreasuryManagement_API/rest/v1/createLoan`'
      tags:
      - Loans
      operationId: createLoan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateLoanRequest'
            examples:
              basicLoan:
                summary: Basic loan creation
                value:
                - name: Personal Loan 2025
                  externalID: LOAN-12345
                  applicationID: APP-67890
                  maxPrincipal: 50000.0
                  productName: Standard Personal Loan
                  term: 60
                  startDate: '2025-01-15'
                  disbursement:
                  - amount: 50000.0
                    externalID: DISB-12345
                    startDate: '2025-01-15'
                  loanPerson:
                  - personId: PER-001
                    role: Borrower
                  loanParty:
                  - partyId: PARTY-001
                    role: Lender
      responses:
        '200':
          description: Loan successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateLoanResponse'
        '207':
          description: Multi-status (partial success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateLoanResponse'
        '400':
          description: Bad request (validation errors)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized (invalid or expired token)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    CreateLoanRequest:
      type: object
      required:
      - name
      - externalID
      - applicationID
      - maxPrincipal
      - productName
      - term
      properties:
        name:
          type: string
          description: Loan name/description
          example: Personal Loan 2025
        externalID:
          type: string
          description: External loan identifier
          example: LOAN-12345
        applicationID:
          type: string
          description: Associated application ID
          example: APP-67890
        maxPrincipal:
          type: number
          format: double
          description: Maximum principal amount
          example: 50000.0
        productName:
          type: string
          description: Loan product name
          example: Standard Personal Loan
        term:
          type: integer
          description: Loan term in months
          example: 60
        startDate:
          type: string
          format: date
          description: Loan start date (YYYY-MM-DD)
          example: '2025-01-15'
        endDate:
          type: string
          format: date
          description: Loan end date (YYYY-MM-DD)
          example: '2030-01-15'
        disbursement:
          type: array
          description: Initial disbursements for the loan
          items:
            type: object
            properties:
              amount:
                type: number
                format: double
                example: 50000.0
              externalID:
                type: string
                example: DISB-12345
              startDate:
                type: string
                format: date
                example: '2025-01-15'
        loanPerson:
          type: array
          description: Persons associated with the loan
          items:
            type: object
            properties:
              personId:
                type: string
                example: PER-001
              role:
                type: string
                example: Borrower
        loanParty:
          type: array
          description: Parties associated with the loan
          items:
            type: object
            properties:
              partyId:
                type: string
                example: PARTY-001
              role:
                type: string
                example: Lender
    ErrorResponse:
      type: object
      properties:
        isSuccess:
          type: boolean
          description: Success indicator (always false for errors)
          example: false
        statusCode:
          type: integer
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Error message
          example: Invalid request
        errors:
          type: array
          description: Detailed error messages
          items:
            type: string
          example:
          - Field 'loanUUID' is required
          - Field 'amount' must be greater than 0
    CreateLoanResponse:
      type: object
      properties:
        isSuccess:
          type: boolean
          description: Overall success indicator
          example: true
        statusCode:
          type: integer
          description: HTTP status code (200, 207, 400, 500)
          example: 200
        responseDetails:
          type: array
          items:
            type: object
            properties:
              uuid:
                type: string
                format: uuid
                description: Generated loan UUID
                example: 550e8400-e29b-41d4-a716-446655440000
              externalId:
                type: string
                description: External loan identifier
                example: LOAN-12345
              errors:
                type: array
                description: Array of error messages (if any)
                items:
                  type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 client credentials flow via Kong Gateway
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes: {}
