openapi: 3.2.0
info:
  title: Treasury Management API (via Kong Gateway) Ledger…
  version: v1
  description: '# Treasury Management API - Kong Gateway Documentation


    ## Overview


    The Treasury Management API provides endpoints for managing loan inventory, disbursements, payments, and treasury operations.'
  contact:
    name: LendKey Platform Team
    url: https://lendkey.com
servers:
- url: https://api.lendkey.com/TreasuryMgmt
  description: Production Environment
security:
- oauth2: []
tags:
- name: Ledger Management
  description: Capital ledger operations
paths:
  /v1/updateExternalId:
    patch:
      summary: Update External ID
      description: 'Updates external IDs in the Capital Ledger Target table.


        Use this endpoint to update the external identifier for a capital ledger record.


        **Kong Route:** `/v1/updateExternalId`

        **Backend:** `/TreasuryManagement_API/rest/v1/updateExternalId`'
      tags:
      - Ledger Management
      operationId: updateExternalId
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExternalIdRequest'
            examples:
              updateId:
                summary: Update external ID
                value:
                  capitalLedgerTargetId: 12345
                  externalId: NEW-EXT-ID-2025
      responses:
        '200':
          description: External ID successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateExternalIdResponse'
        '400':
          description: Bad request (validation errors)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized (invalid or expired token)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    UpdateExternalIdRequest:
      type: object
      required:
      - capitalLedgerTargetId
      - externalId
      properties:
        capitalLedgerTargetId:
          type: integer
          format: int64
          description: Capital Ledger Target record ID
          example: 12345
        externalId:
          type: string
          description: New external identifier
          example: NEW-EXT-ID-2025
    ErrorResponse:
      type: object
      properties:
        isSuccess:
          type: boolean
          description: Success indicator (always false for errors)
          example: false
        statusCode:
          type: integer
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Error message
          example: Invalid request
        errors:
          type: array
          description: Detailed error messages
          items:
            type: string
          example:
          - Field 'loanUUID' is required
          - Field 'amount' must be greater than 0
    UpdateExternalIdResponse:
      type: object
      properties:
        isSuccess:
          type: boolean
          description: Success indicator
          example: true
        statusCode:
          type: integer
          description: HTTP status code
          example: 200
        errors:
          type: array
          description: Array of error messages (if any)
          items:
            type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 client credentials flow via Kong Gateway
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes: {}
