openapi: 3.2.0
info:
  title: Treasury Management API (via Kong Gateway) Disbursements API
  version: v1
  description: '# Treasury Management API - Kong Gateway Documentation


    ## Overview


    The Treasury Management API provides endpoints for managing loan inventory, disbursements, payments, and treasury operations.'
  contact:
    name: LendKey Platform Team
    url: https://lendkey.com
servers:
- url: https://api.lendkey.com/TreasuryMgmt
  description: Production Environment
security:
- oauth2: []
tags:
- name: Disbursements
  description: Disbursement processing and cancellation
paths:
  /v1/createDisbursement:
    post:
      summary: Create Disbursement
      description: 'Processes disbursement transactions for existing loans.


        Use this endpoint to record fund disbursements to borrowers after loan creation.


        **Kong Route:** `/v1/createDisbursement`

        **Backend:** `/TreasuryManagement_API/rest/v1/createDisbursement`'
      tags:
      - Disbursements
      operationId: createDisbursement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDisbursementRequest'
            examples:
              standardDisbursement:
                summary: Standard disbursement
                value:
                  loanUUID: 550e8400-e29b-41d4-a716-446655440000
                  amount: 25000.5
                  externalID: DISB-2025-001
                  startDate: '2025-01-15'
      responses:
        '200':
          description: Disbursement successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDisbursementResponse'
        '207':
          description: Multi-status (partial success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDisbursementResponse'
        '400':
          description: Bad request (validation errors)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized (invalid or expired token)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/cancelDisbursement:
    post:
      summary: Cancel Disbursement
      description: 'Reverses a previously recorded disbursement.


        Use this endpoint to cancel/reverse a disbursement transaction.


        **Kong Route:** `/v1/cancelDisbursement`

        **Backend:** `/TreasuryManagement_API/rest/v1/cancelDisbursement`'
      tags:
      - Disbursements
      operationId: cancelDisbursement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelDisbursementRequest'
            examples:
              cancelDisbursement:
                summary: Cancel a disbursement
                value:
                  subledger_Category: Disbursement Cancellation
                  external_id: DISB-2025-001
                  account_id: ACC-12345
                  entity_type: Borrower
                  amount: 25000.5
                  disbursement_uuid: 550e8400-e29b-41d4-a716-446655440000
                  created_by: system_admin
      responses:
        '200':
          description: Disbursement successfully cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelDisbursementResponse'
        '207':
          description: Multi-status (partial success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelDisbursementResponse'
        '400':
          description: Bad request (validation errors)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized (invalid or expired token)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    CancelDisbursementRequest:
      type: object
      required:
      - subledger_Category
      - external_id
      - account_id
      - entity_type
      - amount
      - disbursement_uuid
      - created_by
      properties:
        subledger_Category:
          type: string
          enum:
          - Disbursement Cancellation
          description: Category (must be "Disbursement Cancellation")
          example: Disbursement Cancellation
        external_id:
          type: string
          description: External disbursement identifier
          example: DISB-2025-001
        account_id:
          type: string
          description: Account identifier
          example: ACC-12345
        entity_type:
          type: string
          description: Entity type (e.g., Borrower, Lender)
          example: Borrower
        amount:
          type: number
          format: double
          description: Disbursement amount to cancel
          example: 25000.5
        disbursement_uuid:
          type: string
          format: uuid
          description: UUID of the disbursement to cancel
          example: 550e8400-e29b-41d4-a716-446655440000
        created_by:
          type: string
          description: User or system initiating the cancellation
          example: system_admin
    CreateDisbursementRequest:
      type: object
      required:
      - loanUUID
      - amount
      - externalID
      properties:
        loanUUID:
          type: string
          format: uuid
          description: UUID of the loan to disburse
          example: 550e8400-e29b-41d4-a716-446655440000
        amount:
          type: number
          format: double
          description: Disbursement amount
          example: 25000.5
        externalID:
          type: string
          description: External disbursement identifier
          example: DISB-2025-001
        startDate:
          type: string
          format: date
          description: Disbursement date (YYYY-MM-DD)
          example: '2025-01-15'
    CreateDisbursementResponse:
      type: object
      properties:
        isSuccess:
          type: boolean
          description: Overall success indicator
          example: true
        statusCode:
          type: integer
          description: HTTP status code
          example: 200
        responseDetails:
          type: array
          items:
            type: object
            properties:
              uuid:
                type: string
                format: uuid
                description: Generated disbursement UUID
                example: 660e8400-e29b-41d4-a716-446655440000
              errors:
                type: array
                description: Array of error messages (if any)
                items:
                  type: string
    ErrorResponse:
      type: object
      properties:
        isSuccess:
          type: boolean
          description: Success indicator (always false for errors)
          example: false
        statusCode:
          type: integer
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Error message
          example: Invalid request
        errors:
          type: array
          description: Detailed error messages
          items:
            type: string
          example:
          - Field 'loanUUID' is required
          - Field 'amount' must be greater than 0
    CancelDisbursementResponse:
      type: object
      properties:
        IsSuccess:
          type: boolean
          description: Success indicator
          example: true
        statusCode:
          type: integer
          description: HTTP status code
          example: 200
        errors:
          type: array
          description: Array of error messages (if any)
          items:
            type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 client credentials flow via Kong Gateway
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes: {}
