openapi: 3.2.0
info:
  title: LendKey E-Sign API (via Kong Gateway) Webhooks API
  version: 0.1
  description: '# LendKey E-Sign API - Kong Gateway Documentation


    ## Overview


    The LendKey E-Sign API provides endpoints for creating and managing electronic signature contracts using DocuSign.'
  contact:
    name: LendKey Platform Team
    url: https://lendkey.com
servers:
- url: https://api.lendkey.com/esign
  description: Production Environment
security:
- oauth2: []
tags:
- name: Webhooks
  description: Endpoints for receiving DocuSign webhook notifications
paths:
  /webhooks/docusign:
    post:
      summary: Handle DocuSign Webhook
      description: 'Receives webhook notifications from DocuSign Connect when envelope events occur.

        The endpoint validates the envelope exists in the system, stores the status update,

        and extracts/stores signer data when envelope is completed.


        **Events handled:**

        - Envelope is sent

        - Envelope is delivered to recipients

        - Envelope is signed/completed

        - Envelope is declined

        - Envelope is voided

        - Recipient events


        **Kong Route:** `/webhooks/docusign`

        **Backend:** `/webhooks/docusign`'
      tags:
      - Webhooks
      operationId: handleDocuSignWebhook
      security: []
      parameters:
      - name: X-DocuSign-Signature-1
        in: header
        required: false
        schema:
          type: string
        description: HMAC signature for verification (optional)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              description: DocuSign webhook payload
      responses:
        '200':
          description: Webhook processed successfully
        '400':
          description: Bad request (invalid payload)
        '404':
          description: Envelope not found in system
        '500':
          description: Internal server error
  /webhooks/docusign/health:
    get:
      summary: Webhook Health Check
      description: 'Simple endpoint to verify the webhook URL is accessible (for DocuSign Connect verification).


        **Kong Route:** `/webhooks/docusign/health`

        **Backend:** `/webhooks/docusign/health`'
      tags:
      - Webhooks
      operationId: webhookHealthCheck
      security: []
      responses:
        '200':
          description: Webhook endpoint is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  service:
                    type: string
                    example: docusign-webhook
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth2 client credentials flow via Kong Gateway
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes: {}
